:root {
  --track_color: rgba(255,255,255,0.15);
  --thumb_color: rgba(255,255,255,0.5);
}

.App {
  font-family: "Roboto";
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  overflow: hidden;
  user-select: none;
}

.nav-container {
  border-bottom: rgba(0,0,0,0.5) solid 1px;
}

.main-title {
  font-weight: 900;
  font-size: 35px;
  margin: 15px;
  display: inline-block;
}

.content-container {
  max-width: 600px;
  max-height: 70vh;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.button {
  font-family: "Roboto";
  color: rgba(0,0,0,0.55);
  font-weight: 500;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
  margin: 15px;
  margin-left: 0;
}

.button:hover {
  background-color: rgba(0,0,0,0.5);
  transition: 0.2s;
  
}

.create-list {
  background-color: #4c8bf5;
  color: white;
  position: relative;
  transform: translate(-50%,0);
  left: 50%;
}

.create-list:hover {
  background-color: #3b77db;
}

.clear-list {
  color: #de5246;
  background-color: transparent;
  transform: translate(-50%,0);
  left: 50%;
  position: relative;
}

.clear-list:hover {
  background-color: transparent;
  text-decoration: underline;
}

.task-container {
  background-color: rgba(0,0,0,0.1);
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  display: flex;
  animation-name: slide;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.task-container:hover {
  background-color: rgba(0,0,0,0.125);
}

.delete-task {
  animation-name: hide;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(.51,.49,0,1.01);
}

@keyframes slide {
  from {transform: translate(0,-100%) scale(0.75);}
  to {transform: translate(0, 0%) scale(1);}
}

@keyframes hide {
  from {transform: translate(0,0) scale(1); opacity: 1;}
  to {transform: translate(0, -100%) scale(0.75); opacity: 0;}
}

.done-text {
  font-size: 14pt;
  text-align: center;
  font-family: "Roboto";
}

.task-input {
  font-family: "Roboto";
  border: none;
  padding: 10px;
  margin: 3px;
  background-color: transparent;
  transition: 0.2s;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 11pt;
  width: 90%;
  font-weight: 300;
}

.task-input:hover {
  background-color: rgba(255,255,255,0.2);
  transition: 0.2s;
}

.button-done {
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  font-weight: 700;
  color: #4285F4;
  font-size: 10pt;
}

.button-done:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  vertical-align: middle;
}

.done-container {
  animation-name: slide2;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.01,.9,.19,1);
}

@keyframes slide2 {
  from {transform: translate(-50%,200%); opacity: 0;}
  to {transform: translate(-50%,-50%); opacity: 1;}
}

.username_container {
  margin: 20px;
  text-align: center;
}

.username {
  display: inline;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.email {
  display: inline;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-left: 10px;
}

/** Custom Scrollbar für beide Themes
/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--track_color); 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--thumb_color); 
  border-radius: 20px;
  border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4285F4;
  cursor: pointer;
}